@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.container{
    display: flex;
    height: 100vh;
    width: 100%;
    background: linear-gradient(#212121, #121212);
    justify-content: right;
}
nav{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 15%;
    position: fixed;
    left: 0;
    background: #000;
    align-items: center;
}
::-webkit-scrollbar{
    display: none;
}
.spotify_logo{
    width: 100%;
    cursor: pointer;
}
.logo{
    margin: 25px 0 0 25px ;
}
.side_panel{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container .side_panel{
    width: 100%;
    margin-bottom: 30px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    list-style: none;
    cursor: pointer;
    padding-left: 25px;
}
.links a{
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.6s ease;
}
.links:hover a{
    color: #fff;
}
.links:hover svg{
    fill: #fff;
    transition: 0.6s ease;
}
.links:hover svg line{
    stroke: #fff;
    transition: 0.6s ease;
}
.create_liked{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    width: 100%;
    cursor: pointer;
    padding-left: 20px;
}
.create_liked li{
    list-style: none;
    color: #9b9b9b;
    height: 40px;
    font-size: 14px;
    width: 90%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.6s ease;
}
.create_liked li a{
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.6s ease;
    margin-left: 20px;
}
.create_liked ul{
    width: 100%;
    margin-left: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create_liked li:hover svg{
    fill: #fff;
    transition: 0.6s ease;
}
.create_liked li:hover a{
    color: #fff;
}
.create_liked li:hover .liked{
    opacity: 1;
    transition: 0.6s ease;
}
.create_liked li:nth-child(2){
    margin-bottom: 15px;
}
.hr{
    width: 80%;
    height: 0.5px;
    background: #4b4b4b;
}
.playlists{
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.playlists li{
    list-style: none;
    margin: 12px 0;
    height: 20px;
}
.playlists li a{
    color: #a7a7a7;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    padding-left: 30px;
    cursor: default;
}
.playlists li:hover a{
    color: #fff;
}
.main_container{
    overflow-y: scroll;
    width: 85%;
}
.main_nav{
    width:100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 64px;
    position: sticky;
    top: 0;
}
.back_front{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.back_front button{
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: not-allowed;
    height: 32px;
    width: 32px;
    margin-right: 15px;
}
.btn{
    margin-right: 20px;
    display: flex;
}
.btn .Upgrade_btn{
    box-sizing: border-box;
    background: transparent;
    font-size: 0.81rem;
    font-weight: 800;
    border-radius: 500px;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-duration: 33ms;
    padding-block: 3px;
    padding-inline: 15px;
    border: 1px solid #727272;
    color: #fff;
    min-block-size: 32px;
}
.btn .Upgrade_btn:hover{
    background: #000;
    border: 2px solid #fff;
}
.btn .account_btn{
    align-items: center;
    background-color: rgba(0,0,0,.7);
    border: 0;
    border-radius: 23px;
    color: #fff;
    cursor: pointer;
    display: flex;
    gap: 8px;
    height: 32px;
    width: 110px;
    padding: 2px;
    margin-left: 15px;
}
.btn .account_btn img{
    border-radius: 50q;
}
.btn .account_btn:hover{
    background: #727272;
}
#time{
    color: #fff;
    width: 95%;
}
.greeting{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.install_app{
    align-items: center;
    border-radius: 4px;
    display: flex;
    gap: 16px;
    height: 100px;
    padding: 13px
}
.install_app a{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 700;
    color: #aaaaaa;
}
.install_app:hover svg line,
.install_app:hover svg,
.install_app:hover a{
    stroke: #000;
    color: #fff;
    fill: #fff;
    transition: 0.6s ease;
}

.install_app:hover svg circle{
    stroke: #fff;
}
.card_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    margin: 20px 0;
    flex-wrap: wrap;
}
.card{
    display: flex;
    align-items: center;
    height: 80px;
    width: 300px;
    background: #77777781;
    margin: 0 20px;
    border-radius: 6px;
    transition: 0.6s ease;
    cursor: pointer;
}
.card:hover{
    background: #8b8b8b;
}
.card_img{
    border-radius: 6px 0 0 6px;
    height: 100%;
    box-shadow: 3px 0px 15px -2px #000;
    overflow: hidden;
}
.Playlist_links{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    margin-left: 20px;
    font-size: 16px;
}
.ls_link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 63%;
}
.play{
    transform: translateY(20px);
    height: 50px;
    width: 50px;
    background: #1FDF64;
    display: none;
    place-items: center;
    border-radius: 50q;
    box-shadow: 0 5px 8px #000;
}
.card:hover .play{
    transform: translateY(0);
    display: grid;
}